*{ 
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-size: 100%;
  word-wrap: break-word;
  
  }


.inner__left2{
  width: 90%;
  height: 100%;
  margin-left:10%;
  background:#fff;

}
.inner__right2{
  width: 90%;
  height: 100%;
  margin-right:10%;
  background:#fff;
}
@media screen and (max-width:375px) {
  .inner__right2,.inner__left2{
    width: 90%;
    margin: 0 auto;
    
  }
}
.sub_header__PH{
  margin-top: 0%;
  margin-bottom: 2%;
}
.proj{
  margin-top: 2%;
}

@media screen and (max-width:820px) {
  .sub_header__PH,.proj{
    text-decoration: underline;
  
  }
}

@media screen and (max-width:375px) {
  .sub_header__PH,.proj{
    text-decoration: underline;
  
  }
}